.header {
    display: flex;
    height: 70px;
    background-color: #c5ccd4;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.switch {
    background-color: #f06c34;
}