.App {
    background-color: #f8fbff;
    min-height: 100vh;

}

.wrapper {    
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
}

.block {
    margin-bottom: 70px;
}

.nav {
    display: inline-block;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

.nav:hover {
    font-weight: 700;
}

.nav-active {
    font-weight: 700;
}